.logo {
    width: min-content;
    float: left;
    padding: 8px 50px;
}

.ant-layout-header{
    padding: 0;
    background: none;
}

.header-container{
    background: #ffffff;
    height: 73px;
    width: 100%;
}

.menu-items {
    float: right;
    padding: 8px;
    margin-right: 5em;
}

.ant-menu-horizontal {
    border-bottom: 0px;
}

.ant-menu-inline-collapsed{
    display: none;
}
