@import '~antd/dist/antd.less';

.ant-layout-header {
  padding: 0;
  background: none;
}

.header-container {
  background: #ffffff;
  height: 70px;
  border-bottom: 2px solid #88c73f;
}

.ant-menu-horizontal {
  border-bottom: 0px;
}

.ant-menu-inline-collapsed {
  display: none;
}

.ant-layout-content {
  margin-top: 70px;
}

.ant-layout {
  background-color: #ffffff;
}

.ant-layout-footer {
  background-color: #ffffff;
  z-index: 10;
}
